<app-sidenav class="sidenav"></app-sidenav>
<main class="main">
    <div class="text">
        Angular Neomorphism library comprises a range of components which implement common interaction patterns according to the Material Design specification.
    </div>
    <div class="cardblock">
        <app-card class="card"><span title>Form controls</span><span text>Controls that collect and validate user input.</span></app-card>
        <app-card class="card"><span title>Navigation</span><span text>Menus, sidenavs and toolbars that organize your content.</span></app-card>
        <app-card class="card"><span title>Layout</span><span text>Essential building blocks for presenting your content.</span></app-card>
        <app-card class="card"><span title>Buttons & Indicators</span><span text>Buttons, toggles, status and progress indicators.</span></app-card>
        <app-card class="card"><span title>Popups & Modals</span><span text>Floating components that can be dynamically shown / hidden.</span></app-card>
        <app-card class="card"><span title>Data table</span><span text>Tools for displaying and interacting with tabular data.</span></app-card>
    </div>
</main>
