<div class="text">
    mat-radio-button provides the same functionality as a native input
    type="radio" enhanced with Material Design styling and animations.
  </div>
  <app-card class="card"
    ><span title>Didiver</span>
    <span text>Controls that collect and validate user input.</span>
    <div class="wrapper">
        <button (mousedown) ='menuClickHandler($event)' neo-button basic class="button">Menu
            <div *ngIf='menuShow' class="menu-items" #menuPanel>
                <div class="menu-item">Item 1</div>
                <div class="menu-item">Item 2</div>
                <div class="menu-item">Item 3</div>
            </div>
        </button>
          
    </div>
  </app-card>
