<div class="text">
  Menu is a floating panel containing list of options.
</div>
<neo-card class="card"
  ><neo-card-header>
    <neo-card-title>Basic Menu</neo-card-title>
  </neo-card-header>
  <neo-card-content class="card-content">
  <div class="wrapper">
    <button neo-button (click)="menuClickHandler($event)" class="button">
      Menu
      <div *ngIf="menuShow" class="menu-items" #menuPanel>
        <div class="menu-item">Item 1</div>
        <div class="menu-item">Item 2</div>
        <div class="menu-item">Item 3</div>
      </div>
    </button>
  </div>
  </neo-card-content>
</neo-card>
