@import "~@neomorphism/ng-neomorphism/mixins/neo-radio.mixins";
@import "~@neomorphism/ng-neomorphism/mixins/neo-tabs.mixins";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
  padding: 0 5% 100px 2%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.module-snippet {
  border-radius: 16px;
  background-color: #ebebeb;
  margin: 0 0 20px 0;
}

.text {
  width: 90%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #474747;
  margin: 0 0 2rem 0;
}

.title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #474747;
  margin: 0 0 4rem 0;
}

.styled-example {
  border-radius: 16px;
  border: 2px solid #ebebeb;
  margin: 10px 0;
  color: rgba(71, 71, 71, 0.6);
}
.radio {
  margin: 0 10px;
  font-family: Open Sans;
  color: #474747;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.dark-radio-group {
  background-color: #373e5a;
  color: #f3f3f3;
}

.radio-dark {
  margin: 0 10px;
  font-family: Open Sans;
  color: #f3f3f3;
}

.tab-group {
  @include neo-tabs-background(#373e5a);
}

.radio-background {
  @include neo-radio-background(#373e5a);
}

.dark-card {
  margin: 20px 0;
}
