<div class="text margin-bottom">
  HTML buttons with neomorph style
</div>
<app-card class="button-card"
  ><span title>Buttons</span>
  <div class="buttons-page-content">
    <span class="text" text>Regular</span>
    <div class="button-wrapper">
      <button neo-button>Basic</button>
      <button neo-button color="primary">Primary</button>
      <button neo-button color="warn">Warn</button>
    </div>
    <span class="text" text>Disabled</span>
    <div class="button-wrapper">
      <button neo-button disabled>Basic</button>
      <button neo-button color="primary" disabled>Primary</button>
      <button neo-button color="warn" disabled>Warn</button>
    </div>
  </div>
</app-card>
