:host {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.button-card {
  width: 90%;
  height: 50%;
}

.text {
  width: 90%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #474747;
}

.margin-bottom {
  margin: 0 0 4rem 0;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;

  & > button {
    margin-left: 2.5rem;
  }
}

.buttons-page-content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 420px) {
  .button-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .buttons-page-content {
    width: 100%;
  }
  .button {
    width: 80%;
    margin-top: 2.5rem;
  }
}
