<div class="text">
  Angular Neomorphism library comprises a range of components which implement
  common interaction patterns according to the Material Design specification.
</div>
<app-card class="card"
  ><span title>Buttons</span>
  <span text>Controls that collect and validate user input.</span>
  <div class="content">
  <div class="button-wrapper">
    <button neo-button basic class=" button">Basic</button>
    <button neo-button primary class=" button">Primary</button>
    <button neo-button warn class=" button">Warn</button>
  </div>
  <div class="button-wrapper">
    <button neo-button basic disabled class=" button">Basic</button>
    <button neo-button primary disabled class=" button">Primary</button>
    <button neo-button warn disabled class=" button">Warn</button>
  </div>
  </div>

</app-card>
