@import "~@angular/material/theming";
@import "../../../core/theme/theme.scss";
@import "../../../core/typography/typography.scss";

@mixin neo-card-color() {
  .neo-card {
    background: mat-color($neo-light-theme-background, card-gradient-start); //changed from a gradient because a gradient doesn't overrides
    color: mat-color($neo-light-theme-foreground, text);
    box-shadow: -2px -2px 5px mat-color($neo-light-theme-foreground, light-shadow, 0.8);

    &::before,
    &::after {
      pointer-events: none;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    &::before {
      mix-blend-mode: soft-light;
      box-shadow: -2px -2px 5px mat-color($neo-light-theme-foreground, light-shadow, 0.8);
    }

    &::after {
      mix-blend-mode: color-burn;
      box-shadow: 2px 2px 5px
        mat-color($neo-light-theme-foreground, dark-shadow, 0.2);
    }
  }
}

@mixin neo-card-typography() {
  .neo-card {
    font-family: map_get($neo-typography, font-family);
  }

  .neo-card-title {
    font: {
      size: map_get($neo-typography, headline);
      weight: map_get($neo-typography, title);
    }
    color: mat-color($neo-light-theme-foreground, title);
  }

  .neo-card-header .neo-card-title {
    font-size: map_get($neo-typography, title);
  }

  .neo-card-content,
  .neo-card-subtitle {
    font-size: map_get($neo-typography, body-1);
  }
}
