<div class="title">
  Neomorph progressbar
</div>
<code class="module-snippet code width">
  <pre>
    import &#123; NeoProgressBarModule &#125;  from '@neomorphism/ng-neomorphism/neo-progressbar';  </pre
  >
</code>

<div class="text module-description">
  <strong>&lt;neo-progress-bar&gt;</strong> is a horizontal progress-bar for
  indicating progress and activity
</div>

<app-element-example class="styled-example">
  <span title>Progress bar</span>
  <mat-tab-group disableRipple tabsContent class="tab-group">
    <mat-tab class="mat-tab" tabindex="1" autofocus label="HTML">
      <app-code-embed>
        <pre>
          <span class="code-text">&lt;neo-progress-bar [mode]="mode"[value]="value"&gt;</span> <span class="code-text">&lt;/neo-progress-bar&gt;</span>
        </pre>
      </app-code-embed>
    </mat-tab>
  </mat-tab-group>
  <div class="card" example>
    <div class="card-content">
      <div class="content">
        <p class="text">Mode type</p>
        <div class="wrapper">
          <button class="button" neo-button (click)="mode = 'determinate'">
            determinate
          </button>
          <button class="button" neo-button (click)="mode = 'indeterminate'">
            indeterminate
          </button>
          <button class="button" neo-button (click)="mode = 'query'">
            query
          </button>
        </div>
        <p class="text">Value</p>
        <div class="input-container">
          <neo-form-field>
            <input
              neoInput
              name="value"
              (input)="onValueChange($event)"
              [value]="value"
              type="number"
            />
          </neo-form-field>
        </div>

        <div class="container">
          <neo-progress-bar
            class="progress-bar"
            [mode]="mode"
            [value]="value"
          ></neo-progress-bar>
        </div>
      </div>
    </div>
  </div>
</app-element-example>
<div class="text">
  <p><strong>API proterties</strong></p>
</div>
<app-api-description [apiDescriprionData]="commonApi"></app-api-description>

<div class="text">
  <p><strong>Styling</strong></p>
</div>

<app-element-example class="styled-example dark-back">
  <span class="dark-back-title" title>Styled rogress bar</span>
  <mat-tab-group disableRipple tabsContent class="tab-group">
    <mat-tab class="mat-tab" tabindex="1" autofocus label="HTML">
      <app-code-embed>
        <pre>
          <span class="code-text">&lt;div class="dark-parent"&gt;</span> 
            <span class="code-text">&lt;neo-progress-bar value="30"&gt;</span> <span class="code-text">&lt;/neo-progress-bar&gt;</span>
            <span class="code-text">&lt;neo-progress-bar value="50" class="red"&gt;</span> <span class="code-text">&lt;/neo-progress-bar&gt;</span>
          <span class="code-text">&lt;/div&gt;</span>
        </pre>
      </app-code-embed>
    </mat-tab>

    <mat-tab class="mat-tab" tabindex="1" autofocus label="SCSS">
      <app-code-embed>
        <pre>
          <span class="code-text">@import "~@neomorphism/ng-neomorphism/mixins/progress-bar.mixins";</span>
          <span class="code-text">
            .dark-parent &#123;</span> 
            <span class="code-text">   @include neo-container-progress-bar-background(#474747);
              background-color: #474747;
              border: 2px solid #474747;
               &#125;</span> 
          <span class="code-text">
            .red &#123;</span> 
            <span class="code-text">  @include neo-progress-bar-background(#f84f5a);
               &#125;</span>
                </pre>
      </app-code-embed>
    </mat-tab>
  </mat-tab-group>
  <div class="card dark-back" example>
    <div class="card-content">
      <div class="content">
        <div class="container">
          <neo-progress-bar
            class="progress-bar"
            [value]="30"
          ></neo-progress-bar>
        </div>

        <div class="container">
          <neo-progress-bar
            class="progress-bar red"
            [value]="50"
          ></neo-progress-bar>
        </div>
      </div>
    </div>
  </div>
</app-element-example>

<div class="text">
  <p><strong>Progress bar styling API properties</strong></p>
</div>
<app-api-description [apiDescriprionData]="styleApi"></app-api-description>
