<!-- <div class="text">
  Provides the same functionality as a native input type="select"
</div>
<neo-card class="card"
  ><neo-card-header>
    <neo-card-title>Select</neo-card-title>
  </neo-card-header>
  <neo-card-content class="card-content">
    Select
    <neo-select></neo-select>
  </neo-card-content>
</neo-card>-->
<neo-form-field>
  <neo-label>Favorite food</neo-label>

  <neo-form-field appearance="fill">
    <neo-select placeholder="hello" [formControl]="toppings">
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
        topping
      }}</mat-option>
    </neo-select>
  </neo-form-field>
</neo-form-field>
