:host {
  height: 800px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 400px;
  min-height: 150px;
  height: fit-content;
  margin-right: 20px;
}

.text {
  width: 90%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #474747;
  margin: 0 0 4rem 0;
}

.example-form {
  display: flex;
  flex-direction: column;
  height: 40%;
}

.form-wrapper {
  margin-top: 25%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}
