<neo-card class="contact-card"
  ><neo-card-header>
    <neo-card-title>Contacts</neo-card-title>
  </neo-card-header>
  <neo-card-content>
    <span text
      ><a href="mailto:neumorphism@gmail.com">neumorphism@gmail.com</a></span
    >
  </neo-card-content>
</neo-card>

<neo-card class="contact-card"
  ><neo-card-header>
    <neo-card-title>Team</neo-card-title>
  </neo-card-header>
  <neo-card-content>
    <p text>Design</p>
    <div text><a class="names" target="_blank" href="https://www.linkedin.com/in/imcateline/">Ekaterina Onuchina</a></div>
    <p text>Development</p>
    <div class="names-wrapper" text><a class="names" target="_blank" href="https://www.linkedin.com/in/valiantsin-haradkou-466a9213b/">Valiantsin Haradkou</a></div>
    <div class="names-wrapper" text><a class="names" target="_blank" href="https://www.linkedin.com/in/max-korsakov-566731ab/">Max Karsakou</a></div>
    <div class="names-wrapper" text><a class="names" target="_blank" href="https://www.linkedin.com/in/vladimir-pan-9212531b2/">Uladzimir Pantsiukhou</a></div>
  </neo-card-content>
</neo-card>
