@import "~@neomorphism/ng-neomorphism/mixins/neo-tabs.mixins";
@import "../../core/common/responsive-mixin.scss";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
  padding: 0 5px 100px 5px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.styled-card {
  background-color: #eaeaf1;
}

.styled-tab-group {
  @include neo-tabs-background(#eaeaf1);
}

.styled-tab-header {
  @include neo-tabs-header-background(#ea4c89);
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
}

.input-container {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  margin: 0 20px;
}

.button:focus {
  color: #2086ed;
}

.container {
  padding: 20px;
}

.module-snippet {
  border-radius: 16px;
  background-color: #ebebeb;
  margin: 0 0 20px 0;
}

.width {
  width: 100%;
}

.card {
  width: 100%;
  min-height: 150px;
  height: fit-content;
  margin-right: 20px;
  box-sizing: border-box;
}

.dark-back-title {
  color: rgba(255, 255, 255, 0.6);
}

.card-content {
  padding: 0 15px;
}

.text {
  width: 90%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #474747;
  margin: 0 0 2rem 0;
}

.title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #474747;
  margin: 0 0 4rem 0;
}

.styled-example {
  border-radius: 16px;
  border: 2px solid #ebebeb;
  margin: 10px 0;
  color: rgba(71, 71, 71, 0.6);
}

@include screen("tablet-landscape") {
  :host {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;
    padding: 0 10px 100px 5px;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
