<div class="title">
  Neomorph toolbar
</div>
<code class="module-snippet code width">
  <pre>
    import &#123; NeoButtonModule &#125;  from '@neomorphism/ng-neomorphism/neo-button';     </pre
  >
</code>

<div class="text module-description">
  <strong>&lt;neo-button&gt;</strong> is a button element with neomorph style
</div>

<app-element-example class="styled-example">
  <span title>Buttons</span>
  <mat-tab-group disableRipple tabsContent class="tab-group">
    <mat-tab class="mat-tab" tabindex="1" autofocus label="HTML">
      <app-code-embed>
        <pre>
                
          <span class="code-text">&lt;neo-button &gt;</span> Basic <span class="code-text">&lt;/neo-toolbar&gt;</span>
          <span class="code-text">&lt;neo-button color="primary"&gt;</span> Prymary <span class="code-text">&lt;/neo-toolbar&gt;</span>
          <span class="code-text">&lt;neo-button color="warn"&gt;</span> Warn <span class="code-text">&lt;/neo-toolbar&gt;</span>

          <span class="code-text">&lt;neo-button disabled &gt; </span> Basic <span class="code-text">&lt;/neo-toolbar&gt;</span>
          <span class="code-text">&lt;neo-button disabled color="primary"&gt;</span> Prymary <span class="code-text">&lt;/neo-toolbar&gt;</span>
          <span class="code-text">&lt;neo-button disabled color="warn"&gt;</span> Warn <span class="code-text">&lt;/neo-toolbar&gt;</span>
        
        </pre>
      </app-code-embed>
    </mat-tab>
  </mat-tab-group>
  <div class="card" example>
    <div class="card-content">
      <div class="buttons-page-content">
        <span class="text" text>Regular</span>
        <div class="button-wrapper">
          <button neo-button>Basic</button>
          <button neo-button color="primary">Primary</button>
          <button neo-button color="warn">Warn</button>
        </div>
        <span class="text" text>Disabled</span>
        <div class="button-wrapper">
          <button neo-button disabled>Basic</button>
          <button neo-button color="primary" disabled>Primary</button>
          <button neo-button color="warn" disabled>Warn</button>
        </div>
      </div>
    </div>
  </div>
</app-element-example>

<app-api-description [apiDescriprionData] = "commonApi"></app-api-description>
