<neo-card class="card">
  <neo-card-header>
    <neo-card-title>About</neo-card-title>
  </neo-card-header>
  <neo-card-content>
    <p>
      Neomorphism is a quite a new UI trend. It's kind of 'soft design' that
      mostly uses shadows to do things. Using a Neomorphism in real projects is
      quite challenging because of not very clear rules and accessibility
      issues. But despite this, Neomorphism is beautiful. So we've decided to
      create this open-source framework to do using Neomorphism easier for
      developers.
    </p>
    <p>
      Now we're on the very first stage - creating design concepts for the
      components. Further, step by step, we're going to create independent
      reusable modules for each of them. Now, if you like some component fill
      free to use it styles from our GitHub repository.
    </p>
    <p>
      With huge love and respect, we've decided to use Angular Material as a
      base for our framework. So if you'll use any component be sure to install
      all required dependencies.
    </p>

    If you have any trouble, questions, suggestions, or want to contribute
    Angular Neomorphism framework, don't hesitate to
    <a class="link" href="mailto:neumorphism@gmail.com">contact</a>
    us.</neo-card-content
  >
</neo-card>

<div class="share-links">
  <button neo-button (click)="shareFacebook()" class="button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="logo shadow"
      width="24"
      height="24"
      fill="#474747"
      viewBox="0 0 24 24"
    >
      <path
        d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 10h-2v2h2v6h3v-6h1.82l.18-2h-2v-.833c0-.478.096-.667.558-.667h1.442v-2.5h-2.404c-1.798 0-2.596.792-2.596 2.308v1.692z"
      />
    </svg>
    <span>Facebook</span>
  </button>

  <button neo-button (click)="shareTwitter()" class="button">
    <svg
      class="logo shadow"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      fill="#474747"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.5 8.778c-.441.196-.916.328-1.414.388.509-.305.898-.787 1.083-1.362-.476.282-1.003.487-1.564.597-.448-.479-1.089-.778-1.796-.778-1.59 0-2.758 1.483-2.399 3.023-2.045-.103-3.86-1.083-5.074-2.572-.645 1.106-.334 2.554.762 3.287-.403-.013-.782-.124-1.114-.308-.027 1.14.791 2.207 1.975 2.445-.346.094-.726.116-1.112.042.313.978 1.224 1.689 2.3 1.709-1.037.812-2.34 1.175-3.647 1.021 1.09.699 2.383 1.106 3.773 1.106 4.572 0 7.154-3.861 6.998-7.324.482-.346.899-.78 1.229-1.274z"
      />
    </svg>
    <span>Twitter</span>
  </button>
</div>
