:host {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  .card {
    width: 90%;
    height: 50%;
  }
  
  .text {
    width: 90%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #474747;
    margin: 0 0 4rem 0;
  }

  .link{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #474747;
  }