<div
  class="neo-tab-header-pagination neo-tab-header-pagination-before"
  #previousPaginator
  aria-hidden="true"
  [class.neo-tab-header-pagination-disabled]="_disableScrollBefore"
  (click)="_handlePaginatorClick('before')"
  (mousedown)="_handlePaginatorPress('before', $event)"
  (touchend)="_stopInterval()"
>
  <div class="neo-tab-header-pagination-chevron"></div>
</div>

<div
  class="neo-tab-label-container"
  #tabListContainer
  (keydown)="_handleKeydown($event)"
>
  <div
    #tabList
    class="neo-tab-list"
    [class._mat-animation-noopable]="_animationMode === 'NoopAnimations'"
    role="tablist"
    (cdkObserveContent)="_onContentChanges()"
  >
    <div class="neo-tab-labels">
      <ng-content></ng-content>
    </div>

    <ng-container
      *ngTemplateOutlet="focusTemplateRef"
    >
    </ng-container>
  </div>
</div>

<div
  class="neo-tab-header-pagination neo-tab-header-pagination-after"
  #nextPaginator
  aria-hidden="true"
  [class.neo-tab-header-pagination-disabled]="_disableScrollAfter"
  (mousedown)="_handlePaginatorPress('after', $event)"
  (click)="_handlePaginatorClick('after')"
  (touchend)="_stopInterval()"
>
  <div class="neo-tab-header-pagination-chevron"></div>
</div>
