@import "~@angular/material/theming";
@import "../../../core/theme/theme.scss";

@mixin neo-button-theme() {
  $default: mat-color($neo-light-theme-foreground, title);
  $primary: mat-color($neo-light-theme-foreground, primary);
  $warn: mat-color($neo-light-theme-foreground, warn);

  $background-default: mat-color(
    $neo-light-theme-background,
    button-background
  );
  $background-primary: mat-color($neo-light-theme, primary);
  $background-warn: mat-color($neo-light-theme, warn);

  $background-hover: mat-color(
    $neo-light-theme-background,
    button-background-hover
  );

  $light-shadow: mat-color($neo-light-theme-foreground, button-light-shadow);
  $dark-shadow: mat-color($neo-light-theme-foreground, button-dark-shadow);

  $light-shadow-primary: mat-color(
    $neo-light-theme-foreground,
    button-light-shadow-primary
  );
  $dark-shadow-primary: mat-color(
    $neo-light-theme-foreground,
    button-dark-shadow-primary
  );

  $light-shadow-warn: mat-color(
    $neo-light-theme-foreground,
    button-light-shadow-warn
  );
  $dark-shadow-warn: mat-color(
    $neo-light-theme-foreground,
    button-dark-shadow-warn
  );

  .neo-button,
  .neo-icon-button {
    color: $default;
   background-color: $background-default;

    &::before {
      mix-blend-mode: soft-light;
      box-shadow: -2px -2px 5px $light-shadow;
    }
    &::after {
      mix-blend-mode: color-burn;
      box-shadow: 2px 2px 5px $dark-shadow;
    }

    &:hover {
      // background: linear-gradient(0deg, $background-hover, $background-hover),
      //   $background-default;
      // background-blend-mode: color-burn, normal;

      &::before {
        box-shadow: -1px -1px 3px $light-shadow;
      }
      &::after {
        box-shadow: 1px 1px 3px $dark-shadow;
      }
    }

    &.mat-primary {
      color: $primary;
      background: $background-primary;

      &::before {
        mix-blend-mode: soft-light;
        box-shadow: -2px -2px 5px $light-shadow-primary;
      }
      &::after {
        mix-blend-mode: color-burn;
        box-shadow: 2px 2px 5px $dark-shadow-primary;
      }

      &:hover {
        background: linear-gradient(0deg, $background-hover, $background-hover),
          $background-primary;
        background-blend-mode: color-burn, normal;

        &::before {
          box-shadow: -1px -1px 3px $light-shadow-primary;
        }
        &::after {
          box-shadow: 1px 1px 3px $dark-shadow-primary;
        }
      }

      &[disabled] {
        &[disabled] {
          color: $primary;
          background: $background-primary;
        }
      }
    }

    &.mat-warn {
      color: $warn;
      background: $background-warn;

      &::before {
        mix-blend-mode: soft-light;
        box-shadow: -2px -2px 5px $light-shadow-warn;
      }
      &::after {
        mix-blend-mode: color-burn;
        box-shadow: 2px 2px 5px $dark-shadow-warn;
      }

      &:hover {
        background: linear-gradient(0deg, $background-hover, $background-hover),
          $background-warn;
        background-blend-mode: color-burn, normal;

        &::before {
          box-shadow: -1px -1px 3px $light-shadow-warn;
        }
        &::after {
          box-shadow: 1px 1px 3px $dark-shadow-warn;
        }
      }

      &[disabled] {
        &[disabled] {
          color: $warn;
          background-color: $background-warn;
        }
      }
    }

    &[disabled] {
      &[disabled] {
        color: $default;
        background: $background-default;
      }

      &::before {
        mix-blend-mode: soft-light;
        box-shadow: -2px -2px 5px $light-shadow;
      }
      &::after {
        mix-blend-mode: color-burn;
        box-shadow: 2px 2px 5px $dark-shadow;
      }
      &:hover {
        &::before {
          box-shadow: -2px -2px 5px $light-shadow;
        }
        &::after {
          box-shadow: 2px 2px 5px $dark-shadow;
        }
      }
    }
  }
}
