@import "./button-base";
@import "./button-theme";

@include neo-button-theme();

// for native material ripple
$ease-in-out-curve-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$mat-button-focus-transition: opacity 200ms $ease-in-out-curve-function;

.neo-button,
.neo-icon-button {
  @include neo-button-base;
}

.neo-icon-button {
  padding: 0;
}

.neo-button-ripple {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  border-radius: inherit;
  overflow: hidden;
}

.mat-button-focus-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  border-radius: inherit;

  opacity: 0;
  transition: $mat-button-focus-transition;
}
