<div class="text">
  Snackbar is a service for displaying snack-bar notifications.A snack-bar can
  contain either a string message or a given component.
</div>
<neo-card class="card"
  ><neo-card-header>
    <neo-card-title>Snackbar</neo-card-title>
  </neo-card-header>
  <neo-card-content class="card-content">
  </neo-card-content>
  <neo-card-footer>
    <neo-card-actions>
      <div class="wrapper">
        <button neo-button (mousedown)="openSnackBar()" class="button">
          Show snackbar
        </button>
      </div>
    </neo-card-actions>
  </neo-card-footer>
</neo-card>
