<label [attr.for]="inputId" class="neo-checkbox-layout" #label>
  <div
    class="neo-checkbox-inner-container"
    [class.neo-checkbox-inner-container-no-side-margin]="
      !checkboxLabel.textContent || !checkboxLabel.textContent.trim()
    "
  >
    <input
      #input
      class="neo-checkbox-input cdk-visually-hidden"
      type="checkbox"
      [id]="inputId"
      [required]="required"
      [checked]="checked"
      [attr.value]="value"
      [disabled]="disabled"
      [attr.name]="name"
      [tabIndex]="tabIndex"
      [attr.aria-label]="ariaLabel || null"
      [attr.aria-labelledby]="ariaLabelledby"
      [attr.aria-checked]="_getAriaChecked()"
      [attr.aria-describedby]="ariaDescribedby"
      (change)="_onInteractionEvent($event)"
      (click)="_onInputClick($event)"
    />
    <div class="neo-checkbox-background">
      <svg
        focusable="false"
        class="neo-checkbox-checkmark"
        style="enable-background: new 0 0 20 20;"
        version="1.1"
        viewBox="-3 -3 28 28"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g id="check-mark">
          <path
          [attr.fill]='checkMarkColor'      
            d="M10,18c-0.5,0-1-0.2-1.4-0.6l-4-4c-0.8-0.8-0.8-2,0-2.8c0.8-0.8,2.1-0.8,2.8,0l2.6,2.6l6.6-6.6   c0.8-0.8,2-0.8,2.8,0c0.8,0.8,0.8,2,0,2.8l-8,8C11,17.8,10.5,18,10,18z"
          />
        </g>
      </svg>
    </div>
  </div>
  <span
    class="neo-checkbox-label"
    #checkboxLabel
    (cdkObserveContent)="_onLabelTextChange()"
  >
    <!-- Add an invisible span so JAWS can read the label -->
    <span style="display: none;">&nbsp;</span>
    <ng-content></ng-content>
  </span>
</label>
