<div class="text">
    mat-radio-button provides the same functionality as a native input type="radio" enhanced with Material Design styling and animations.
</div>
<app-card class="card"
  ><span title>Radio Buttons</span>
  <span text>Controls that collect and validate user input.</span>
  <div class="wrapper">
    <label class="container"
      ><div class="checkbox-text">Option one</div>
      <input type="radio" checked="checked" name="radio" />
      <span class="checkmark"></span>
    </label>
    <label class="container"
      ><div class="checkbox-text">Option two</div>
      <input type="radio" name="radio" />
      <span class="checkmark"></span>
    </label>
  </div>
</app-card>
