<div class="text">
  Provides the same functionality as a native input type="radio"
</div>
<neo-card class="card"
  ><neo-card-header>
    <neo-card-title>Rudio Button</neo-card-title>
  </neo-card-header>
  <neo-card-content class="card-content">
  <span text>Controls that collect and validate user input.</span>
  <div class="wrapper">
    <label class="container"
      ><div class="checkbox-text">Option one</div>
      <input type="radio" checked="checked" name="radio" />
      <span class="checkmark"></span>
    </label>
    <label class="container"
      ><div class="checkbox-text">Option two</div>
      <input type="radio" name="radio" />
      <span class="checkmark"></span>
    </label>
  </div>
  </neo-card-content>
</neo-card>
