<div class="text">
    mat-radio-button provides the same functionality as a native input
    type="radio" enhanced with Material Design styling and animations.
  </div>
  <app-card class="card"
    ><span title>Toolbar</span>
    <span text>Controls that collect and validate user input.</span>
    <div class="wrapper">

        <nav class="menu">
            <div class="menu-text">my application</div>
          </nav>

          <nav class="menu grey">
            <div class="menu-text-black">my application</div>
          </nav>
    
    </div>
  </app-card>
