
.custom-select {
  position: relative;
  font-family: Arial;
  width: 180px;
  height: 40px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f3f3;
  box-shadow: inset 4px 4px 6px rgba(34, 34, 34, 0.3),
  inset -4px -4px 6px #ffffff;
 
  border-radius: 10px;
}

.select-selected:hover {
  box-shadow: inset 4px 4px 8px rgba(34, 34, 34, 0.3),
    inset -4px -4px 8px #ffffff;
}

.select-selected.select-arrow-active {
  box-shadow: inset 4px 4px 8px rgba(34, 34, 34, 0.3),
  inset -4px -4px 8px #ffffff;
}

/* style the items (options), including the selected item: */
.select-items {
  background: #f3f3f3;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.2), inset 2px 2px 5px #ffffff,
    inset -2px -2px 5px rgba(34, 34, 34, 0.3);
  border-radius: 10px;
  position: absolute;
  background: #f3f3f3;
  top: 120%;
  left: 0;
  right: 0;
  z-index: 99;
}

.not-choosen{
  color:rgba(71, 71, 71, 0.6)!important;
}

.select-items div,
.select-selected {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(71, 71, 71);
  padding: 13px 16px;
  cursor: pointer;
}

.select-items div:first-of-type{
    border-radius: 10px 10px 0 0;
}

.select-items div:last-of-type{
    border-radius: 0 0 10px 10px;
}


/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(34, 34, 34, 0.05);
  box-shadow:  inset 5px 0 3px -2.5px #ffffff
}

.shadow {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5))
    drop-shadow(-1px -1px 1px #ffffff);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5))
    drop-shadow(-1px -1px 1px #ffffff);
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  transition: all 0.1s linear;
  transform-origin: 50% 50%;
}

.select-selected.select-arrow-active .shadow {
  transform: rotate(180deg);
  -webkit-filter: drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5))
    drop-shadow(1px 1px 1px #ffffff);
  filter: drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5))
    drop-shadow(1px 1px 1px #ffffff);
}
