@import "./divider_theme";

$neo-divider-width: 2px;
$neo-divider-inset-margin: 80px;

@include neo-divider-theme();

.neo-divider {
  border-top-width: 0;
  margin: 0;
  border-radius: 2px;
  background-color: inherit;

  &.neo-divider-vertical {
    width: $neo-divider-width;
  }

  &.neo-divider-horizontal {
    height: $neo-divider-width;
  }

  &.mat-divider-vertical {
    border-right-width: 0;
  }

  &.neo-divider-inset {
    margin-left: $neo-divider-inset-margin;
    [dir="rtl"] & {
      margin-left: auto;
      margin-right: $neo-divider-inset-margin;
    }
  }
}
