<mat-accordion class="accordion">
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Form controls
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="item">Autocomplete</div>
      <div class="divider"></div>
      <div class="item">Checkbox</div>
      <div class="divider"></div>
      <div class="item">Datepicker</div>
      <div class="divider"></div>
      <div class="item">Form field</div>
      <div class="divider"></div>
      <div class="item">Input</div>
      <div class="divider"></div>
      <div class="item">Radio buttom</div>
      <div class="divider"></div>
      <div class="item">Select</div>
      <div class="divider"></div>
      <div class="item">Slider</div>
      <div class="divider"></div>
      <div class="item">Slide toggle</div>
    </mat-expansion-panel>

    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Navigation
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="item">Menu</div>
      <div class="divider"></div>
      <div class="item">Sidenav</div>
      <div class="divider"></div>
      <div class="item">Toolbar</div>
    </mat-expansion-panel>

    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Layout
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="item">Card</div>
      <div class="divider"></div>
      <div class="item">Divider</div>
    </mat-expansion-panel>

    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Buttons & Indicators
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="item">Button</div>
      <div class="divider"></div>
      <div class="item">Button toggle</div>
    </mat-expansion-panel>

    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Popups & Modals
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="item">Botto sheet</div>
      <div class="divider"></div>
      <div class="item">Dialog</div>
    </mat-expansion-panel>

    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Data Table
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="item">Paginator</div>
      <div class="divider"></div>
      <div class="item">Sort header</div>
    </mat-expansion-panel>
  </mat-accordion>
