<mat-accordion multi="true" class="accordion">
  <div class="shadow-wrapper">
    <mat-expansion-panel
      hideToggle="true"
      expanded="true"
      class="panel mat-elevation-z0"
    >
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Form controls
        </mat-panel-title>
        <div class="toggle">
          <svg
            class="shadow"
            xmlns="http://www.w3.org/2000/svg"
            height="20"
            viewBox="0 0 20 20"
            width="20"
          >
            <path
              fill="#474747"
              d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"
            />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </div>
      </mat-expansion-panel-header>
      <div routerLink="checkbox" class="item"><b>Checkbox</b></div>
      <div class="divider"></div>
      <div routerLink="input" class="item"><b>Input</b></div>
      <div class="divider"></div>
      <div routerLink="radiobutton" class="item">Radio button</div>
      <div class="divider"></div>
      <div routerLink="select" class="item">Select</div>
      <div class="divider"></div>
      <div routerLink="togglebutton" class="item">Slide toggle</div>
    </mat-expansion-panel>
  </div>

  <div class="shadow-wrapper">
    <mat-expansion-panel
      hideToggle="true"
      expanded="false"
      class="panel mat-elevation-z0"
    >
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Navigation
        </mat-panel-title>
        <div class="toggle">
          <svg
            class="shadow"
            xmlns="http://www.w3.org/2000/svg"
            height="20"
            viewBox="0 0 20 20"
            width="20"
          >
            <path
              fill="#474747"
              d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"
            />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </div>
      </mat-expansion-panel-header>
      <div routerLink="menu" class="item">Menu</div>
      <div class="divider"></div>
      <div routerLink="toolbar" class="item"><b>Toolbar</b></div>
    </mat-expansion-panel>
  </div>

  <div class="shadow-wrapper">
    <mat-expansion-panel
      hideToggle="true"
      expanded="false"
      class="panel mat-elevation-z0"
    >
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Layout
        </mat-panel-title>
        <div class="toggle">
          <svg
            class="shadow"
            xmlns="http://www.w3.org/2000/svg"
            height="20"
            viewBox="0 0 20 20"
            width="20"
          >
            <path
              fill="#474747"
              d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"
            />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </div>
      </mat-expansion-panel-header>
      <div routerLink="card" class="item"><b>Card</b></div>
      <div class="divider"></div>
      <div routerLink="divider" class="item"><b>Divider</b></div>
      <div class="divider"></div>
      <div routerLink="expansion" class="item">Expansion panel</div>
      <div class="divider"></div>
      <div routerLink="tabs" class="item"><b>Tabs</b></div>
    </mat-expansion-panel>
  </div>

  <div class="shadow-wrapper">
    <mat-expansion-panel
      hideToggle="true"
      expanded="false"
      class="panel mat-elevation-z0"
    >
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Buttons & Indicators
        </mat-panel-title>
        <div class="toggle">
          <svg
            class="shadow"
            xmlns="http://www.w3.org/2000/svg"
            height="20"
            viewBox="0 0 20 20"
            width="20"
          >
            <path
              fill="#474747"
              d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"
            />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </div>
      </mat-expansion-panel-header>
      <div routerLink="buttons" class="item"><b>Button</b></div>
      <div class="divider"></div>
      <div routerLink="badges" class="item">Badge</div>
      <div class="divider"></div>
      <div routerLink="progressbar" class="item"><b>Progress bar</b></div>
      <div class="divider"></div>
      <div routerLink="chips" class="item">Chips</div>
    </mat-expansion-panel>
  </div>
  <div class="shadow-wrapper">
    <mat-expansion-panel
      hideToggle="true"
      expanded="false"
      class="panel mat-elevation-z0"
    >
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Popups & Modals
        </mat-panel-title>
        <div class="toggle">
          <svg
            class="shadow"
            xmlns="http://www.w3.org/2000/svg"
            height="20"
            viewBox="0 0 20 20"
            width="20"
          >
            <path
              fill="#474747"
              d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"
            />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </div>
      </mat-expansion-panel-header>
      <div routerLink="snackbar" class="item">Snackbar</div>
      <div class="divider"></div>
      <div routerLink="dialog" class="item">Dialog</div>
    </mat-expansion-panel>
  </div>
</mat-accordion>
