@import "~@angular/material/theming";
@import "../../../core/theme/theme.scss";

@mixin neo-dialog-color() {
  .neo-dialog-container {
    background-color: mat-color($neo-light-theme-background, dialog-background);
    color: mat-color($neo-light-theme-foreground, text);
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    box-shadow: 2px 2px 5px
        mat-color($neo-light-theme-foreground, dark-shadow, 0.2),
      inset 2px 2px 5px mat-color($neo-light-theme-foreground, light-shadow),
      inset -2px -2px 5px
        mat-color($neo-light-theme-foreground, dark-shadow, 0.3);
  }
}

@mixin neo-dialog-typography() {
  .neo-dialog-title {
    color: mat-color($neo-light-theme-foreground, title);
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
  }
  .neo-dialog-container {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
}
