@import "../../core/common/responsive-mixin.scss";

.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.sidenav,
.content {
  padding-top: 2rem;
}

.content {
  z-index: 1;
}

.sidenav {
  min-width: 20%;
  z-index: 1;
}


.mat-drawer-side {
  border-right: 0;
}
.mat-drawer {
  background-color: #f3f3f3;
}

.mat-drawer-content {
  overflow-x: hidden;
  background-color: #f3f3f3;
}

.components-wrapper {
  width: 100%;
  height: calc(100% - 9rem);
  display: flex;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.components-content-wrapper {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  margin: 3rem 0;
  padding-right: 20%;
}

.button {
  position: absolute;
  width: 4rem;
  height: 4rem;
  z-index: 999;
  top: 20px;
  left: 0px
}


@media (max-width: 1000px) {

  .example-container {
    top: 130px;
  }

}

@media (max-width: 420px) {
  .components-content-wrapper {
    margin: 0;
    box-sizing: border-box;
  }
}

@include screen("tablet-landscape") {

  .components-content-wrapper {
    padding-right: 0
  }
}