<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened">
    <app-sidenav> </app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div class="components-button-wrapper">
      <button neo-icon-button (mousedown)="menuToggle($event)" class="button">
        <span class="material-icons">
          {{ opened ? "close" : "menu" }}
        </span>
      </button>
    </div>

    <div class="components-content-wrapper" [class.closed]="opened">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
