.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 2rem;
}

.sidenav,
.content {
  padding-top: 2rem;
}

.mat-drawer-side {
  border-right: 0;
}
.mat-drawer {
  background-color: transparent;
}

.mat-drawer-content {
  overflow-x: hidden;
}

.components-wrapper {
  width: 100%;
  height: calc(100% - 9rem);
  display: flex;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.components-content-wrapper {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  margin: 0 5rem;
}

.button {
  width: 4rem;
  height: 4rem;
  z-index: 999;
}

.components-button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
  padding-left: 0.8rem;
}

@media (max-width: 870px) {
  .closed {
    display: none;
  }

  .example-container {
    top: 130px;
  }
}

@media (max-width: 420px) {
  .components-content-wrapper {
    margin: 0;
    box-sizing: border-box;
  }
  // .components-wrapper {
  //   transition: none;
  // }
  // .closed .button {
  //   left: 1rem;
  // }
  // .closed {
  //   width: 100%;
  //   transform: none;
  // }
  // .components-content-wrapper {
  //   display: none;
  // }
  // .closed .sidenav-menu-wrapper {
  //   width: 0;
  //   padding: 0;
  // }

  // .sidenav-menu-wrapper {
  //   width: 80%;
  // }

  // .closed .components-content-wrapper {
  //   display: flex;
  //   width: 100%;
  // }
}
