:host {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  .card {
    margin-top: 50px;
    width: 90%;
    height: 200px;
  }
  

  a{
    text-decoration: none;
    cursor: pointer;
    color: #474747;
  }