<div class="text margin-bottom">
  Angular Neomorphism library comprises a range of components which implement
  common interaction patterns according to the Material Design specification.
</div>
<app-card class="card"
  ><span title>Buttons</span>
  <span text>Controls that collect and validate user input.</span>
  <div class="content-wrapper">
    <div class="wrapper">
      <button neo-button basic class="button badge-wrapper">
        Basic
        <div class="badge"><div class="badge-inside">4</div></div>
      </button>
    </div>

    <div class="wrapper">
      <div class="badge-wrapper text text-with-badge">
        Text with badge
        <div class="badge blue"><div class="badge-inside">4</div></div>
      </div>
    </div>
    <div class="wrapper">
      <div class="badge-wrapper text">
        <span class="material-icons">
          mail_outline
        </span>
        <div class="badge"><div class="badge-inside">4</div></div>
      </div>
    </div>
  </div>
</app-card>
