:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 90%;
  height: 50%;
}

.text {
  width: 90%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #474747;
  margin: 0 0 4rem 0;
}

.margin-bottom {
    margin-bottom: 4rem;
}

.wrapper {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
}

.badge-wrapper{
  display: flex;
  justify-content: flex-end;
  white-space:nowrap;
 position: relative;
}
.text-with-badge{
    padding: .2rem .5rem;
}

.button {
 
  margin-left: 2.5rem;
}

.badge {
    background-blend-mode: exclusion;
    display: flex;
    justify-content: center;
    align-items: center;
  position: absolute;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: white;
  top: calc(-1rem);
  right: calc(-1rem);
  background-color: #f84f5a;
  z-index: 2;
  box-shadow: -2px -2px 5px #ffffff, 2px 2px 5px rgba(34, 34, 34, 0.4),
    inset -2px -2px 5px rgba(34, 34, 34, 0.4),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.blue{
    background-color: #2086ED;;
}


