<div class="text margin-bottom">
  Badges are small status descriptors for UI elements.
</div>
<app-card class="card"
  ><span title>Badges</span>
  <div class="content-wrapper">
    <span  class="text" text>Button with badge</span>
    <div class="wrapper">
      <button neo-button basic class="button badge-wrapper">
        Basic
        <div class="badge"><div class="badge-inside">4</div></div>
      </button>
    </div>
    <div class="wrapper">
      <div class="badge-wrapper text text-with-badge">
        Text with badge
        <div class="badge blue"><div class="badge-inside">4</div></div>
      </div>
    </div>
    <span class="text"  text>Icon with badge</span>
    <div class="wrapper">
      <div class="badge-wrapper text">
        <span class="material-icons">
          mail_outline
        </span>
        <div class="badge"><div class="badge-inside">4</div></div>
      </div>
    </div>
  </div>
</app-card>
