<div class="text">
  Neomorph styled input and textarea.
</div>
<app-card class="card"
  ><span title>Basic Inputs</span>
  <span text>Controls that collect and validate user input.</span>
<div class="form-wrapper">
    <form class="example-form">
    <label class="label">Favorite food</label>
    <input type="text" placeholder="Sushi" />
  </form>
  <form class="example-form">
    <label class="label">Leave a comment</label>
    <textarea id="neoMorph" placeholder="Ex. It makes me feel..."></textarea>
  </form>  
</div>

</app-card>
