:host {
  height: 100%;
  width: 100%;
}

.fake-menu {
  height: 7rem;
  border-radius: 0 0 20px 20px;
}

.scroll-container {
  width: 100%;
  height: calc(100% - 9rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.menu {
  position: fixed;
  z-index: 999;
  width: 100vw;
}

@media (max-width: 860px) {
  .fake-menu {
    height: 13rem;
  }
}
