:host {
  height: 100%;
  width: 100%;
}

.main-wrapper {
  width: 100%;
  height: calc(100% - 9rem);
  display: flex;
  transition: all .3s ease-in-out;
}

.content-wrapper {
  display: flex;
  flex: 1;
  width: auto;
  padding: 1rem 3rem;
  box-sizing: border-box;
}

.menu-wrapper {
position: relative;
width: 18%;
}

.sidenav {
    margin: auto;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
 
}

.button {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 4rem;
  left: 1rem;
  left: 105%;
}

.material-icons{
    color: #474747
}

.closed{
    width: 118%;
    transform: translate(-18%);
}




