@import "button-base";

$button-size: 40px;

.neo-button,
.neo-icon-button {
  @include neo-button-base;
}

.neo-icon-button {
  padding: 0;
}

.neo-button,
.neo-icon-button {
  color: #474747;
  background: linear-gradient(117.15deg, #f5f5f5 0%, #f3f3f3 100%);

  &::before {
    mix-blend-mode: soft-light;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 1);
  }
  &::after {
    mix-blend-mode: color-burn;
    box-shadow: 4px 4px 8px rgba(34, 34, 34, 0.4);
  }

  &:hover {
    &::before {
      box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.8);
    }
    &::after {
      box-shadow: 2px 2px 6px rgba(34, 34, 34, 0.4);
    }
  }

  &.mat-primary {
    color: #ffffff;
    background: #2086ed;

    &::before {
      mix-blend-mode: soft-light;
      box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.3);
    }
    &::after {
      mix-blend-mode: color-burn;
      box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.2);
    }

    &:hover {
      &::before {
        box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.3);
      }
      &::after {
        box-shadow: 2px 2px 6px rgba(34, 34, 34, 0.2);
      }
    }

    &[disabled] {
      &[disabled] {
        color: #ffffff;
        background-color: #2086ed;
      }
    }
  }

  &.mat-warn {
    color: #ffffff;
    background: #f84f5a;

    &::before {
      mix-blend-mode: soft-light;
      box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.3);
    }
    &::after {
      mix-blend-mode: color-burn;
      box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.2);
    }

    &:hover {
      &::before {
        box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.3);
      }
      &::after {
        box-shadow: 2px 2px 6px rgba(34, 34, 34, 0.2);
      }
    }

    &[disabled] {
      &[disabled] {
        color: #ffffff;
        background-color: #f84f5a;
      }
    }
  }

  &[disabled] {
    &[disabled] {
      color: #474747;
    }

    &::before {
      mix-blend-mode: soft-light;
      box-shadow: -2px -2px 5px #ffffff;
    }
    &::after {
      mix-blend-mode: color-burn;
      box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.4);
    }
    &:hover {
      &::before {
        box-shadow: -2px -2px 5px #ffffff;
      }
      &::after {
        box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.4);
      }
    }
  }
}
