<div class="content">
 <ng-content></ng-content>   
</div>


<svg *ngIf="buttonType === 'basic'" [class.basic-shadow]=true class="ripple-obj">
  <use
    width="100"
    height="100"
    href="#basic-ripple"
    class="js-ripple"
    #ripple
  ></use>
</svg>
<svg *ngIf="buttonType === 'primary'" [class.primary-shadow]=true class="ripple-obj">
  <use
    width="100"
    height="100"
    href="#primary-ripple"
    class="js-ripple"
    #ripple
  ></use>
</svg>
<svg *ngIf="buttonType === 'warn'" [class.warn-shadow]=true class="ripple-obj">
  <use
    width="100"
    height="100"
    href="#warn-ripple"
    class="js-ripple"
    #ripple
  ></use>
</svg>

<div
  style="height: 0; width: 0; position: absolute; top: 99999; left:99999; visibility: hidden;"
  aria-hidden="true"
>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    focusable="false"
  >
    <defs>
      <radialGradient id="gradient-basic">
        <stop offset="0" stop-color="#f3f3f3" />
        <stop offset="0.4" stop-color="#ffffff" />
        <stop offset="0.7" stop-color="#d4d4d4" />
        <stop offset="0.9" stop-color="#ffffff" />
        <stop offset="1" stop-color="#f3f3f3" />
      </radialGradient>
    </defs>
    <symbol id="basic-ripple" viewBox="0 0 100 100">
      <circle
        id="ripple-shape"
        fill="url(#gradient-basic)"
        cx="1"
        cy="1"
        r="1"
      />
    </symbol>
  </svg>
</div>

<div
  style="height: 0; width: 0; position: absolute; visibility: hidden;"
  aria-hidden="true"
>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    focusable="false"
  >
    <defs>
      <radialGradient id="gradient-primary">
        <stop offset="0" stop-color="#2086ed" />
        <stop offset="0.4" stop-color="#459af0" />
        <stop offset="0.7" stop-color="#1b73ca" />
        <stop offset="0.9" stop-color="#459af0" />
        <stop offset="1" stop-color="#2086ed" />
      </radialGradient>
    </defs>
    <symbol id="primary-ripple" viewBox="0 0 100 100">
      <circle id="ripple-shape" fill="url(#gradient-primary)" cx="1" cy="1" r="1" />
    </symbol>
  </svg>
</div>

<div
  style="height: 0; width: 0; position: absolute; visibility: hidden;"
  aria-hidden="true"
>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    focusable="false"
  >
    <defs>
      <radialGradient id="gradient-warn">
        <stop offset="0" stop-color="#f84f5a" />
        <stop offset="0.4" stop-color="#ff636d" />
        <stop offset="0.7" stop-color="#df3e49" />
        <stop offset="0.9" stop-color="#ff636d" />
        <stop offset="1" stop-color="#f84f5a" />
      </radialGradient>
    </defs>
    <symbol id="warn-ripple" viewBox="0 0 100 100">
      <circle id="ripple-shape" fill="url(#gradient-warn)" cx="1" cy="1" r="1" />
    </symbol>
  </svg>
</div>
