.button-reset {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  &::-moz-focus-inner {
    border: 0;
  }
}

.neo-button {
  display: flex;
  flex-direction: row;
  padding: 1.2rem 1.6rem;
  width: auto;
  height: 4rem;
  color: #575a63;
  background: #f0f0f3;
  box-shadow: 5px 5px 10px rgba(186, 190, 204, 0.7), -5px -5px 10px #ffffff;
  border-radius: 0.8rem;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}

.neo-button:hover {
  box-shadow: 2px 2px 6px rgba(186, 190, 204, 0.9), -2px -2px 6px #ffffff;
}

.neo-button:active,
.neo-button:focus {
  box-shadow: inset 2px 2px 5px rgba(186, 190, 204, 0.7),
    inset -2px -2px 5px #ffffff;
}
