:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
}

.card {
  width: 400px;
  min-height: 150px;
  height: fit-content;
  margin-right: 20px;
}

.text {
  width: 90%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #474747;
  margin: 0 0 4rem 0;
}

.checkbox-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.wrapper {
  margin-top: 25%;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
}

/* Customize the label (the container) */
.container {
  height: 30px;
  margin: 0 3rem;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.fakeCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background: #f3f3f3;
  box-shadow: inset 1px 1px 2px rgba(34, 34, 34, 0.4),
    inset -1px -1px 2px #ffffff;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .fakeCheckbox {
  box-shadow: inset 2px 2px 4px rgba(34, 34, 34, 0.4),
    inset -2px -2px 4px #ffffff;
}

.container input:checked ~ .fakeCheckbox {
  box-shadow: inset 2px 2px 4px rgba(34, 34, 34, 0.4),
    inset -2px -2px 4px #ffffff;
}

.checkmark {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(34, 34, 34, 0.4))
    drop-shadow(-1px -1px 1px #ffffff);
  filter: drop-shadow(1px 1px 1px rgba(34, 34, 34, 0.4))
    drop-shadow(-1px -1px 1px #ffffff);
  display: none;
}

.container input:checked ~ .fakeCheckbox .checkmark {
  display: block;
}
