<div class="text">
    mat-radio-button provides the same functionality as a native input type="radio" enhanced with Material Design styling and animations.
</div>
<app-card class="card"
  ><span title>Checkboxes</span>
  <span text>Controls that collect and validate user input.</span>
  <div class="wrapper">
    <label class="container">One
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
  </div>
</app-card>
