<div class="title">
  Neomorph slider
</div>
<code class="module-snippet code width">
  <pre>
      import &#123; NeoSliderModule &#125;from '@neomorphism/ng-neomorphism/neo-slider'    </pre
  >
</code>
<div class="text module-description">
  <strong>NeoSlider</strong> allows for the selection of a value from a range
  via mouse, touch, or keyboard, similar to &lt;input type="range"&gt;.
</div>

<app-element-example
  (snippetShowing)="snippetShowingHandler($event)"
  class="styled-example"
>
  <span title>Basic slider</span>
  <neo-tab-group
    [selectedIndex]="currentSelectedIndex"
    (selectedIndexChange)="changeHandler($event)"
    tabsContent
  >
    <neo-focused data-label-highlight></neo-focused>
    <neo-tab class="mat-tab" tabindex="1" label="TS">
      <app-code-embed>
        <pre>
      <span class="code-text">import &#123;Component&#125; from '@angular/core'</span>
      
      <span class="code-text">@Component(&#123;</span>
        <span class="code-text">selector: 'app-slider',</span>
        <span class="code-text">templateUrl: './app-slider.html',</span> 
        <span class="code-text">styleUrls: ['./app-slider.scss'],</span>  
        <span class="code-text">&#125;)</span> 
      <span class="code-text">export class SliderComponent   &#123;</span>
      constructor() &#123; &#125;
          &#125;
          </pre>
      </app-code-embed>
    </neo-tab>
    <neo-tab class="mat-tab" tabindex="1" label="HTML">
      <app-code-embed>
        <pre>    
      <span class="code-text">&lt; neo-slider class="slider"&gt;</span> <span class="code-text">&lt; /neo-slider&gt;</span>
      </pre>
      </app-code-embed>
    </neo-tab>
    <neo-tab class="mat-tab" tabindex="1" label="SCSS">
      <app-code-embed>
        <pre>
    
        .slider &#123;
        width: 100%
        &#125;
        </pre>
      </app-code-embed>
    </neo-tab>
  </neo-tab-group>

  <div example class="card">
    <div class="card-content">
      <neo-slider
        class="slider"
      >
      </neo-slider>
    </div>
  </div>
</app-element-example>

<div class="text">
  <p><strong>NeoSlider API</strong></p>
</div>

<app-api-description [apiDescriprionData]="sliderApi"></app-api-description>

<div class="text">
  <p><strong>NeoSlider style API</strong></p>
</div>

<app-api-description
  [apiDescriprionData]="sliderStyleApi"
></app-api-description>
