<div class="text">
  Displays a list of values as individual chips.
</div>
<neo-card class="card"
  ><neo-card-header>
    <neo-card-title>Chips</neo-card-title>
  </neo-card-header>
  <neo-card-content>
    <span class="text" text>Basic and primary</span>
    <div class="content">
      <div class="wrapper">
        <div class="chip chip-basic"><div class="chip-text">One Fish</div></div>
        <div class="chip chip-basic">
          <div class="chip-text">One Fish</div>
          <span class="material-icons">
            close
          </span>
        </div>
      </div>

      <div class="wrapper">
        <div class="chip chip-primary">
          <div class="chip-text">Primary Fish</div>
        </div>
        <div class="chip chip-primary">
          <div class="chip-text">Primary Fish</div>
          <span class="material-icons">
            close
          </span>
        </div>
      </div>
    </div>
  </neo-card-content>
</neo-card>
