
@import "../../components/neo-progressbar/neo-progressbar/progress-bar-theme";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
}

.card {
  width: 400px;
  min-height: 150px;
  height: fit-content;
  margin-right: 20px;
}

.text {
  width: 90%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #474747;
  margin: 0 0 4rem 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.input-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
}

.violet {
  @include neo-container-progress-bar-background(#6b3df5);
}

.red {
  @include neo-progress-bar-background(#f84f5a);
}