<div class="text">
  Progressbar is a horizontal progress-bar for indicating progress and activity
</div>
<neo-card class="card"
  ><neo-card-header>
    <neo-card-title>Progressbar</neo-card-title>
  </neo-card-header>
  <neo-card-content class="card-content">
  <div class="content">
    <div class="wrapper">
      <button color="primary" neo-button (click)="mode = 'determinate'"> determinate</button>
      <button color="primary" neo-button (click)="mode = 'indeterminate'"> indeterminate</button>
      <button color="primary" neo-button (click)="mode = 'query'">query</button>
    </div>
    <div class="input-container">
      <input neoInput name="value" (input)="onValueChange($event)" [value]="value" type="number">
    </div>

    <div class="container">
      <neo-progress-bar
        class="progress-bar"
        [mode]="mode"
        [value]="value"
      ></neo-progress-bar>
    </div>

    <div class="container violet">
      <neo-progress-bar
        class="progress-bar"
        [mode]="mode"
        [value]="value"

      ></neo-progress-bar>
    </div>

    <div class="container violet">
      <neo-progress-bar
        class="progress-bar red"
        [mode]="mode"
        [value]="value"

      ></neo-progress-bar>
    </div>
  </div>
  </neo-card-content>
</neo-card>
