<div class="text">
    Angular Neomorphism library comprises a range of components which implement
    common interaction patterns according to the Material Design specification.
  </div>
  <app-card class="card"
    ><span title>Buttons</span>
    <span text>Controls that collect and validate user input.</span>
    <div class="content">
      <div class="wrapper">
       <div class="progressbar">
           <div class="progressbar-indicator"></div>
       </div>
      </div>
    </div>
  </app-card>
