<div class="text">
  neoInput is a directive that allows native input and textarea elements to work
  with mat-form-field.
</div>
<app-card class="card"
  ><span title>Basic Inputs</span>
  <span text>Controls that collect and validate user input.</span>
  <app-neomorph-select>
      <option option value="0">Option 1</option>
      <option option value="1">Option 2</option>
      <option option value="2">Option 3</option>
      <option option value="3">Option 4</option>
      <option option value="4">Option 5</option>
      <option option value="5">Option 6</option>
  </app-neomorph-select>
</app-card>


