   
    <div class="text">
        Angular Neomorphism library.
    </div>
    <div class="cardblock">
        <app-card class="card"><span title>Form controls</span><span text>Controls that collect and validate user input.</span></app-card>
        <app-card class="card"><span title>Navigation</span><span text>Menu and toolbar that organize your content.</span></app-card>
        <app-card class="card"><span title>Layout</span><span text>Essential building blocks for presenting your content.</span></app-card>
        <app-card class="card"><span title>Buttons & Indicators</span><span text>Buttons, toggles, status and progress indicators.</span></app-card>
        <app-card class="card"><span title>Popups & Modals</span><span text>Floating components that can be dynamically shown / hidden.</span></app-card>
    </div>
  
