
:host {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  

  .text {
    width: 90%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #474747;
    margin: 0 0 4rem 0;
  }
  

  
  .cardblock {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  
  .card {
    height: 15rem;
    margin: 4rem;
  }

