<div class="text">
  Angular Neomorphism library.
</div>
<div class="cardblock">
  <neo-card class="card">
    <neo-card-header>
      <neo-card-title>Form controls</neo-card-title>
    </neo-card-header>
    <neo-card-content
      >Controls that collect and validate user input.</neo-card-content
    >
  </neo-card>

  <neo-card class="card">
    <neo-card-header>
      <neo-card-title>Navigation</neo-card-title>
    </neo-card-header>
    <neo-card-content
      >Menu and toolbar that organize your content.</neo-card-content
    >
  </neo-card>

  <neo-card class="card">
    <neo-card-header>
      <neo-card-title>Layout</neo-card-title>
    </neo-card-header>
    <neo-card-content
      >Essential building blocks for presenting your content.</neo-card-content
    >
  </neo-card>

  <neo-card class="card">
    <neo-card-header>
      <neo-card-title>Buttons & Indicators</neo-card-title>
    </neo-card-header>
    <neo-card-content
      >Buttons, toggles, status and progress indicators.</neo-card-content
    >
  </neo-card>

  <neo-card class="card">
    <neo-card-header>
      <neo-card-title>Popups & Modals</neo-card-title>
    </neo-card-header>
    <neo-card-content
      >Floating components that can be dynamically shown /
      hidden.</neo-card-content
    >
  </neo-card>
</div>
