$neo-light-theme-foreground: (
  divider-shadow: rgba(34, 34, 34, 0.3),
  light-shadow: rgba(255, 255, 255),
  card-shadow: rgba(34, 34, 34),
  text: #474747,
);

$neo-light-theme-background: (
  card: #f3f3f3,
);
