$neo-light-theme-foreground: (
  divider-shadow: rgba(34, 34, 34, 0.3),
  light-shadow: rgba(255, 255, 255),
  dark-shadow: rgba(34, 34, 34),
  text: rgba(71, 71, 71, 0.75),
  title: #474747
);

$neo-light-theme-background: (
  card-gradient-end: #f7f7f7,
  card-gradient-start: #f0f0f0,
  app-bar: #e4e4e4
);

$neo-light-theme: (
  primary:#2086ed,
  accent: red, //add accent color
  warn:#f84f5a
);