:host {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 4rem 4rem 4rem 4rem;
  }
  
  .card {
    width: 80%;
    height: 50%;
  }
  
  .text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #474747;
    margin: 0 0 4rem 0;
  }
  
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

.divider {
    height: 2px;
    width: 100%;
    background: #f3f3f3;
    box-shadow: inset 1px 1px 1px rgba(174, 174, 192, 0.3),
      inset -1px -1px 1px rgba(255, 255, 255, 0.5);
    border-radius: 2px;
  }