<div class="title">
  Neomorph divider
</div>

<code class="module-snippet code width">
  <pre>
    import &#123; NeoCardModule &#125;  from '~@Neomorphism/neo-divider/neo-divider.module';     </pre
  >
</code>

<div class="text module-description">
  <strong>&lt;neo-toolbar&gt;</strong> is a simple line separator
</div>

<app-element-example class="styled-example">
  <span title>Horizontal divider</span>
  <mat-tab-group disableRipple tabsContent class="tab-group">
    <mat-tab class="mat-tab" tabindex="1" autofocus label="HTML">
      <app-code-embed>
        <pre>
          <span class="code-text">&lt;div&gt;</span> Item 1 <span class="code-text">&lt;/div&gt;</span> 
            <span class="code-text">&lt;neo-divider&gt;&lt;/neo-divider&gt;</span>
          <span class="code-text">&lt;div&gt;</span> Item 2 <span class="code-text">&lt;/div&gt;</span> 
          <span class="code-text">&lt;neo-divider&gt;&lt;/neo-divider&gt;</span>
          <span class="code-text">&lt;div&gt;</span> Item 3 <span class="code-text">&lt;/div&gt;</span> 
        </pre>
      </app-code-embed>
    </mat-tab>
  </mat-tab-group>
  <div class="card" example>
    <div class="card-content">
      <div class="wrapper">
        <div class="text-item">Item 1</div>
        <neo-divider></neo-divider>
      </div>
      <div class="wrapper">
        <div class="text-item">Item 2</div>
        <neo-divider></neo-divider>
      </div>
      <div class="wrapper">
        <div class="text-item">Item 3</div>
      </div>
    </div>
  </div>
</app-element-example>

<app-element-example class="styled-example">
  <span title>Vertical divider</span>
  <mat-tab-group disableRipple tabsContent class="tab-group">
    <mat-tab class="mat-tab" tabindex="1" autofocus label="HTML">
      <app-code-embed>
        <pre>
        <span class="code-text">&lt;neo-divider [vertical]="true"&gt;&lt;/neo-divider&gt;</span>
      <span class="code-text">&lt;div&gt;</span> Item 1 <span class="code-text">&lt;/div&gt;</span> 
    <span class="code-text">&lt;neo-divider [vertical]="true"&gt;&lt;/neo-divider&gt;</span>
      <span class="code-text">&lt;div&gt;</span> Item 2 <span class="code-text">&lt;/div&gt;</span>
    <span class="code-text">&lt;neo-divider [vertical]="true"&gt;&lt;/neo-divider&gt;</span> 
    <span class="code-text">&lt;div&gt;</span> Item 3 <span class="code-text">&lt;/div&gt;</span>
    <span class="code-text">&lt;neo-divider [vertical]="true"&gt;&lt;/neo-divider&gt;</span>
  </pre>
      </app-code-embed>
    </mat-tab>
  </mat-tab-group>
  <div class="card" example>
    <div class="card-content">
      <div class="wrapper">
        <div class="wrapper vertical">
          <neo-divider [vertical]="true"></neo-divider>
          <div class="text-item">Item 1</div>
          <neo-divider [vertical]="true"></neo-divider>
          <div class="text-item">Item 2</div>
          <neo-divider [vertical]="true"></neo-divider>
          <div class="text-item">Item 3</div>
          <neo-divider [vertical]="true"></neo-divider>
        </div>
      </div>
    </div>
  </div>
</app-element-example>

<app-element-example class="styled-example">
  <span title>Inset divider</span>
  <mat-tab-group disableRipple tabsContent class="tab-group">
    <mat-tab class="mat-tab" tabindex="1" autofocus label="HTML">
      <app-code-embed>
        <pre>
          <span class="code-text">&lt;div&gt;</span> Item 1 <span class="code-text">&lt;/div&gt;</span> 
            <span class="code-text">&lt;neo-divider [inset]="true"&gt;&lt;/neo-divider&gt;</span>
          <span class="code-text">&lt;div&gt;</span> Item 2 <span class="code-text">&lt;/div&gt;</span> </pre>
      </app-code-embed>
    </mat-tab>
  </mat-tab-group>
  <div class="card" example>
    <div class="card-content">
      <div class="wrapper">
        <div class="wrapper">
          <div class="text-item">Item 1</div>
        </div>
        <div class="wrapper">
          <neo-divider [inset]="true"></neo-divider>
          <div class="text-item">Item 2</div>
        </div>
      </div>
    </div>
  </div>
</app-element-example>

<app-api-description [apiDescriprionData] = "commonApi"></app-api-description>
