:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.card-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.width{
  width: 100%;
}

.card-wrapper:last-of-type {
  margin-bottom: 30px;
}

.card {
  width: 400px;
  min-height: 150px;
  height: fit-content;
  margin-right: 20px;
}

.text {
  width: 90%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #474747;
  margin: 0 0 4rem 0;
}

.text-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #474747;
  margin: 1.5rem 0;
  position: relative;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.vertical {
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 0;
}

.code {
  display: flex;
  flex: 1;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #474747;
  background-color: #f3f3f3;
  border-radius: 8px;
  overflow: auto;
  .code-text {
    color: #2086ed;
  }
}

.divider {
  width: 100%;
  margin: 20px 0;
}
