<div class="title">
  Neomorph input
</div>
<code class="module-snippet code width">
  <pre>
    import &#123; NeoFormFieldModule &#125;  from '@neomorphism/ng-neomorphism/neo-form-field'  </pre
  >
</code>

<code class="module-snippet code width">
  <pre>
    import &#123; NeoInputModule &#125;  from '@neomorphism/ng-neomorphism/neo-input'   </pre
  >
</code>
<div class="text module-description">
  <strong>&lt;neo-input&gt;</strong> Neomorph styled input and textarea.
  neoInput directive allow neo-input works inside neo-form-field.
</div>

<app-element-example class="styled-example">
  <span title>Basic input</span>
  <mat-tab-group tabsContent disableRipple class="tab-group">
    <mat-tab class="mat-tab" tabindex="1" autofocus label="TS">
      <app-code-embed>
        <pre>
    <span class="code-text">import &#123;Component, AfterViewInit&#125; from '@angular/core'</span>
    <span class="code-text">import &#123;FormControl, FormGroup, Validators&#125; from '@angular/forms'</span>

    <span class="code-text">@Component(&#123;</span>
      <span class="code-text">selector: 'app-inputs',</span>
      <span class="code-text">templateUrl: './inputs.component.html',</span> 
      <span class="code-text">styleUrls: ['./inputs.component.scss'],</span>  
      <span class="code-text">&#125;)</span> 
    <span class="code-text">export class InputsComponent implements AfterViewInit  &#123;</span>
    <span class="code-text">public textInput = '';

      exampleForm = new FormGroup(&#123;
      requiredInput: new FormControl('', [Validators.email]),
      disabledInput: new FormControl(&#123;value: 'Value from formcontrol', 
                                    disabled: true&#125;),
      textInput: new FormControl(''),
      &#125;);
      constructor() &#123;&#125;
      &#125;
    </span> 
        </pre>
      </app-code-embed>
    </mat-tab>
    <mat-tab class="mat-tab" tabindex="1" autofocus label="HTML">
      <app-code-embed>
        <pre>
    <span class="code-text">&lt;form [formGroup]="exampleForm"&gt;</span> 
        <span class="code-text">&lt;neo-form-field class="form-field"&gt;</span>
          <span class="code-text">&lt;neo-label&gt;</span> Input with validation<span class="code-text">&lt;/neo-label&gt;</span> 
          <span class="code-text">&lt;input
            neoInput
            formControlName="requiredInput"
            autocomplete="off"
            placeholder="name@company.com" /&gt;</span> 
          <span class="code-text">&lt;neo-error *ngIf="exampleForm.invalid"&gt;</span> Email is not valid<span class="code-text">&lt;/neo-error&gt;</span>
        <span class="code-text">&lt;/neo-form-field&gt;</span>

        <span class="code-text">&lt;neo-form-field class="form-field"&gt;</span>
          <span class="code-text">&lt;neo-label&gt;</span> Disabled input<span class="code-text">&lt;/neo-label&gt;</span> 
          <span class="code-text">&lt;input
            neoInput
            formControlName="disabledInput"
            autocomplete="off"
            disabled
            placeholder="It's a placeholder" /&gt;</span> 
        <span class="code-text">&lt;/neo-form-field&gt;</span>

        <span class="code-text">&lt;neo-form-field class="form-field"&gt;</span>
          <span class="code-text">&lt;neo-label&gt;</span> Textarea<span class="code-text">&lt;/neo-label&gt;</span> 
          <span class="code-text">&lt;textarea
            neoInput
            formControlName="disabledInput"
            autocomplete="off"
            placeholder="It's a placeholder" &gt;</span><span class="code-text">&lt;/textarea&gt;</span>  
        <span class="code-text">&lt;/neo-form-field&gt;</span>
    <span class="code-text">&lt;/form&gt;</span>
    </pre>
      </app-code-embed>
    </mat-tab>
    <mat-tab class="mat-tab" tabindex="1" label="SCSS">
      <div class="text"></div>
    </mat-tab>
  </mat-tab-group>

  <div example class="card">
    <div class="card-content">
      <form class="form" [formGroup]="exampleForm">
        <div class="inputs_wrapper">
          <neo-form-field class="form-field">
            <neo-label class="label">Input with validation</neo-label>
            <input
              neoInput
              formControlName="requiredInput"
              required
              autocomplete="off"
              placeholder="name@company.com"
              errorState="true"
            />
            <neo-error *ngIf="exampleForm.invalid"
              >Email is not valid</neo-error
            >
          </neo-form-field>
          <neo-form-field class="form-field">
            <neo-label>Disabled input</neo-label>
            <input
              formControlName="disabledInput"
              neoInput
              placeholder="It's a placeholder"
            />
          </neo-form-field>
        </div>

        <neo-form-field class="form-field">
          <neo-label>Textarea</neo-label>
          <textarea
            formControlName="textInput"
            neoInput
            placeholder="It's a placeholder"
          ></textarea>
        </neo-form-field>
      </form>
    </div>
  </div>
</app-element-example>

<div class="text">
  <p><strong> Input API proterties</strong></p>
</div>
<app-api-description
  [apiDescriprionData]="inputCommonApi"
></app-api-description>
<div class="text">
  <p><strong> Textarea API proterties</strong></p>
</div>
<app-api-description
  [apiDescriprionData]="textareaCommonApi"
></app-api-description>

<div class="text">
  <p><strong>Styling</strong></p>
</div>
<div class="text module-description">
  Additional to Material API we provide some scss mixins to manage form-field
  and input background. Neomorphism uses additional shadows, so change of a
  background color will cause mismatching between the background color and basic
  shadows. So we provide additional API to solve this issue.
  <p><strong>@include neo-form-field-background($color)</strong></p>
  Use it at form-field element. It set backgroung-color of form-field and set
  input color to 5% darker. Also it set input shadows denending on provided
  background color.
  <p><strong>@include neo-input-background($color);</strong></p>
  Could be used to establish input background and shadows. When using with
  neo-form-field-background($color) it's override input background-color.
</div>

<app-element-example class="styled-example">
  <span title
    >Formfield styled with neo-form-field-background($color) mixin</span
  >

  <mat-tab-group disableRipple tabsContent class="tab-group">
    <mat-tab class="mat-tab" tabindex="1" autofocus label="HTML">
      <app-code-embed>
        <pre>
        <span class="code-text">&lt;neo-form-field class="form-field styled-formfield"&gt;</span>
          <span class="code-text">&lt;input
            neoInput
            autocomplete="off"
            placeholder="It's a placeholder" /&gt;</span> 
        <span class="code-text">&lt;/neo-form-field&gt;</span>
        </pre>
      </app-code-embed>
    </mat-tab>
    <mat-tab class="mat-tab" tabindex="1" label="SCSS">
      <code class="code">
        <pre>
        <span class="code-text">@import "../../components/neo-form-field/neo-form-field/form-field.theme";</span> 
        <span class="code-text">
          .styled-formfield &#123;</span> 
          <span class="code-text">  @include neo-form-field-background(#f84f5a);
            border-radius: 8px;
            display: flex;
            align-items: center;
            flex: 1;
            height: 200px;
             &#125;</span>
              </pre>
      </code>
    </mat-tab>
  </mat-tab-group>

  <div example class="card">
    <div class="card-content">
      <neo-form-field class="form-field styled-formfield">
        <input neoInput autocomplete="off" placeholder="It's a placeholder" />
      </neo-form-field>
    </div>
  </div>
</app-element-example>

<div class="text">
  <p><strong> Input styling API properties</strong></p>
</div>
<app-api-description
  [apiDescriprionData]="inputStyleApi"
></app-api-description>

<app-element-example class="styled-example">
  <span title>Input styled with neo-input-background($color) mixin</span>

  <mat-tab-group tabsContent disableRipple class="tab-group">
    <mat-tab class="mat-tab" tabindex="1" autofocus label="HTML">
      <app-code-embed>
        <pre>
        <span class="code-text">&lt;neo-form-field class="form-field"&gt;</span>
          <span class="code-text">&lt;input
            neoInput
            class="styled-input"
            autocomplete="off"
            placeholder="It's a placeholder" /&gt;</span> 
        <span class="code-text">&lt;/neo-form-field&gt;</span>

        <span class="code-text">&lt;neo-form-field class="form-field styled-formfield"&gt;</span>
          <span class="code-text">&lt;input
            neoInput
            class="styled-input"
            autocomplete="off"
            placeholder="It's a placeholder" /&gt;</span> 
        <span class="code-text">&lt;/neo-form-field&gt;</span>
        </pre>
      </app-code-embed>
    </mat-tab>
    <mat-tab class="mat-tab" tabindex="1" label="SCSS">
      <code class="code">
        <pre>
        <span class="code-text">@import "~@neomorphism/ng-neomorphism/mixins/form-field.mixins";</span>
        <span class="code-text">@import "~@neomorphism/ng-neomorphism/mixins/input.mixins";</span>
        <span class="code-text">
          .styled-formfield &#123;</span> 
          <span class="code-text">  @include neo-form-field-background(#f84f5a);
            border-radius: 8px;
            display: flex;
            align-items: center;
            flex: 1;
            height: 200px;
             &#125;</span> 
        <span class="code-text">
          .styled-input &#123;</span> 
          <span class="code-text">  @include neo-input-background(#459af0);
            color: #fff;
            &::placeholder&#123;
              color: #fff
              &#125;
             &#125;</span>
              </pre>
      </code>
    </mat-tab>
  </mat-tab-group>


  <div example class="card">
    <div class="card-content">
      <neo-form-field class="form-field single-input">
        <input
          neoInput
          class="styled-input"
          autocomplete="off"
          placeholder="It's a placeholder"
        />
      </neo-form-field>
      <neo-form-field class="form-field styled-formfield">
        <input
          neoInput
          class="styled-input"
          autocomplete="off"
          placeholder="It's a placeholder"
        />
      </neo-form-field>
    </div>
  </div>
</app-element-example>
