<div class="text">
  Just a content container.
</div>
<code class="code width">
  <pre>    import &#123; NeoCardModule &#125;  from '~@Neomorph/neo-card/neo-card.module';    </pre>
</code>
<neo-divider class="divider"></neo-divider>
<div class="card-wrapper">
  <neo-card class="card">
    <neo-card-header>
      <neo-card-title>Card with buttons</neo-card-title>
    </neo-card-header>
    <neo-card-content>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.The
      Shiba Inu is the smallest of the six original and distinct spitz breeds of
      dog from Japan. A small, agile dog that copes very well with mountainous
      terrain, the Shiba Inu was originally bred for hunting.</neo-card-content
    >
    <neo-divider></neo-divider>
    <neo-card-footer>
      <neo-card-actions align="end"
        ><button neo-button>Confirm</button
        ><button neo-button color="warn">Decline</button></neo-card-actions
      >
    </neo-card-footer>
  </neo-card>

  <code class="code">
    <pre>
      <span class="code-text">&lt;neo-card&gt;</span>
        <span class="code-text">&lt;neo-card-header&gt;</span>
          <span class="code-text">&lt;neo-card-title&gt;</span>Card with buttons<span class="code-text">&lt;/neo-card-title&gt;</span>
        <span class="code-text">&lt;/neo-card-header&gt;</span>
        <span class="code-text">&lt;neo-card-content&gt;</span>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.The
            Shiba Inu is the smallest of the six original and distinct spitz breeds of
            dog from Japan. A small, agile dog that copes very well with mountainous
            terrain, the Shiba Inu was originally bred for hunting.
        <span class="code-text">&lt;/neo-card-content&gt;</span>
        <span class="code-text">&lt;neo-divider&gt;&lt;/neo-divider&gt;</span>
        <span class="code-text">&lt;neo-card-footer&gt;</span>
          <span class="code-text">&lt;neo-card-actions align="end"&gt;</span>
            <span class="code-text">&lt;button neo-button&gt;</span>Confirm<span class="code-text">&lt;/button&gt;</span>
            <span class="code-text">&lt;button neo-button color="warn"&gt;</span>Decline<span class="code-text">&lt;/button&gt;</span>
          <span class="code-text">&lt;/neo-card-actions&gt;</span>
        <span class="code-text">&lt;/neo-card-footer&gt;</span>
      <span class="code-text">&lt;/neo-card&gt;</span></pre>
  </code>
</div>
<neo-divider class="divider"></neo-divider>
<div class="card-wrapper">
  <neo-card class="card">
    <neo-card-header>
      <neo-card-title>Basic card</neo-card-title>
    </neo-card-header>
  </neo-card>

  <code class="code">
    <pre>
    <span class="code-text">&lt;neo-card&gt;</span>
      <span class="code-text">&lt;neo-card-header&gt;</span>  
        <span class="code-text">&lt;neo-card-title&gt;</span>Basic card<span class="code-text">&lt;/neo-card-title&gt;</span>
      <span class="code-text">&lt;/neo-card-header&gt;</span>
    <span class="code-text">&lt;/neo-card&gt;</span></pre>
  </code>
</div>
